<div class="articles">
	<app-menu-title></app-menu-title>
</div>

<div class="articles flex-row">
	<div class="articles-main">
		<app-big-card
		image="https://img.freepik.com/fotos-gratis/foto-de-grande-angular-de-uma-unica-arvore-crescendo-sob-um-ceu-nublado-durante-um-por-do-sol-cercado-por-grama_181624-22807.jpg"
		date="january, 22, 2023"
		title="Teste para verificação de conteúdo"
		description="Donec ullamcorper lectus quis imperdiet placerat. Nulla dictum libero at urna auctor ultricies. Proin vehicula eget est ac volutpat. Integer nunc arcu, luctus in convallis et, facilisis eu lorem. In eget varius libero. Donec pretium ipsum vel eros cursus, aliquet vehicula lacus varius. Sed lobortis suscipit sapien, quis ornare nisi scelerisque quis. Suspendisse iaculis ac leo et pharetra.

		Mauris sollicitudin sed ipsum vitae maximus. Duis fringilla diam et leo venenatis, a viverra eros ullamcorper. Mauris quis nunc eu nunc efficitur tristique. Donec at velit ac massa iaculis tristique. Aenean cursus quis neque venenatis dignissim. Vestibulum in elementum ante. Praesent maximus porta odio eget aliquam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sollicitudin faucibus purus, et finibus lorem facilisis et. Nulla facilisis ligula a luctus mattis. Nullam viverra posuere tellus, eget fringilla turpis tincidunt eu."
		></app-big-card>
	</div>
	<div class="articles-others">
		<app-small-card
		image="https://img.freepik.com/fotos-gratis/a-paisagem-bonita-do-sol-da-praia-com-um-barco_1112-212.jpg"
		date="january, 22, 2023"
		title="Teste para verificação de conteúdo"
		></app-small-card>
		<app-small-card
		image="https://img.freepik.com/fotos-gratis/a-paisagem-bonita-do-sol-da-praia-com-um-barco_1112-212.jpg"
		date="january, 22, 2023"
		title="Teste para verificação de conteúdo"
		></app-small-card>
		<app-small-card
		image="https://img.freepik.com/fotos-gratis/a-paisagem-bonita-do-sol-da-praia-com-um-barco_1112-212.jpg"
		date="january, 22, 2023"
		title="Teste para verificação de conteúdo"
		></app-small-card>
	</div>
</div>
